* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150vh;
    background-color: #050505;
}

.cube {
    position: relative;
    top: 0px;
    left: 0px;
    height: 300px;
    width: 300px;
    transform-style: preserve-3d;
    animation: anime 10s linear infinite;
}

@keyframes anime {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
}

.cube div span {
    position: absolute;
    font-family: monospace;
    font-size: larger;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: 600;
    display: flex;
    text-shadow: 1px 1px 10px black;
    justify-content: center;
    padding-top: 100px;
    top: 0;
    left: 0;
    /* text-align: center; */
    height: 100%;
    width: 100%;
    background: linear-gradient(#151515, #00ec00);
    transform: rotateY(calc(90deg*var(--i))) translateZ(150px);
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 300px;
    background: #151515;
    transform: rotateX(90deg) translateZ(148px);
}

.top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 300px;
    background: #0f0;
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0px 0px 120px rgba(0, 255, 0, 0.2),
        0px 0px 200px rgba(0, 255, 0, 0.4),
        0px 0px 300px rgba(0, 255, 0, 0.6),
        0px 0px 400px rgba(0, 255, 0, 0.8),
        0px 0px 500px rgba(0, 255, 0, 0.8);
}